<h2>Calcium hypochlorite</h2>
<p>This calculator tells you how much <b>calcium hypochlorite</b> to dilute with water to get your desired concentration (ppm) of chlorine solution.</p>

<mat-card>
  <form #Form="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Desired Parts Per Million (ppm)</mat-label>
      <input matInput
      type="number"
      name="ppm"
      [(ngModel)]="ppm"
      required
      #ppm2=ngModel>
      <mat-error *ngIf="ppm2.invalid">
        Please enter the parts per million (ppm) you want
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Concentration of Calcium hypochlorite pellets(%)</mat-label>
      <input matInput
      type="number"
      name="concentration"
      [(ngModel)]="concentration"
      required
      #concentration2=ngModel>
      <mat-error *ngIf="concentration2.invalid">
        Please enter the concentration of Calcium hypochlorite pellets in percent
      </mat-error>
    </mat-form-field>
    </form>
  </mat-card>

  <h2 *ngIf="ppm && concentration">
    Put {{ 2 * ppm / 1000 * 142.98 / (35.45 * 2) * 100 / concentration | number:'1.1-2'}} grams of {{ concentration }}% Calcium hypochlorite in 1 litre of water to get {{ppm}} ppm
  </h2>

  <h2 *ngIf="!ppm || !concentration">
    Please fill out values
  </h2>
