<h2>Calcium hypochlorite</h2>
<p>This calculator tells you how much <b>calcium hypochlorite</b> to dilute with water to get your desired concentration (ppm) of chlorine solution.</p>

<mat-card>
  <form (submit)="onCalciumCalculate(calciumForm)" #calciumForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Desired Parts Per Million (ppm)</mat-label>
      <input matInput
      type="number"
      name="ppm"
      [ngModel]="calcium?.ppm"
      required
      #ppm="ngModel">
      <mat-error *ngIf="ppm.invalid">
        Please enter the parts per million (ppm) you want
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Concentration of Calcium hypochlorite pellets(%)</mat-label>
      <input matInput
      type="number"
      name="concentration"
      [ngModel]="calcium?.concentration"
      required
      #concentration="ngModel">
      <mat-error *ngIf="concentration.invalid">
        Please enter the concentration of Calcium hypochlorite pellets in percent
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color = "primary"
      type="submit">submit</button>
    </form>
  </mat-card>

{{ calcium?.ppm }}
